<form [formGroup]="UpdateForm" fxLayout="column">

    <div>
        <span>EmployeeName</span>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>EmployeeName</mat-label>
                <input matInput [(ngModel)]="fullName" formControlName="fullName">
                <mat-error>Full name Required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <span>profilePic</span>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="profilePic" formControlName="profilePic">
                <mat-error>Profile pic Required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <span>Gender</span>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="gender" formControlName="gender">
                <mat-error>gender Required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <span>Salary</span>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="salary" formControlName="salary">
                <mat-error>Salary Required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <span>Note</span>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="note" formControlName="note">
                <mat-error>Note Required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <span>Department</span>
        <div >
            <mat-form-field appearance="outline" >
                <input matInput [(ngModel)]="department" formControlName="department">
                <mat-error>Department required!</mat-error>
            </mat-form-field>
        </div>
    </div>

    <button (click)="onupdate()">update</button>

</form>